/* css/style.css */

/* Estilos globais para a fonte Inter */
body {
    font-family: 'Inter', sans-serif;
}

/* Estilos adicionais para o formulário para melhor espaçamento e aparência */
.form-group label {
    margin-bottom: 0.25rem; /* Pequena margem abaixo dos rótulos */
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="number"],
.form-group input[type="date"],
.form-group textarea,
.form-group select {
    padding: 0.6rem 0.8rem; /* Ajusta o padding para inputs */
    border-radius: 0.375rem; /* rounded-md do Tailwind */
    border: 1px solid #d1d5db; /* border-gray-300 do Tailwind */
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); /* shadow-sm do Tailwind */
    width: 100%; /* Garante que ocupem a largura total do contêiner */
    box-sizing: border-box; /* Inclui padding e borda na largura total */
}

/* Estilos para radio buttons e checkboxes */
input[type="radio"],
input[type="checkbox"] {
    /* Personalização para melhor visibilidade */
    appearance: none; /* Remove o estilo padrão do navegador */
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1rem; /* Tamanho */
    height: 1rem; /* Tamanho */
    border: 1px solid #d1d5db; /* Cor da borda */
    border-radius: 0.25rem; /* Cantos levemente arredondados */
    background-color: #fff; /* Fundo branco */
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem; /* Espaçamento à direita */
    position: relative;
    top: -1px; /* Ajuste fino de alinhamento */
}

input[type="radio"] {
    border-radius: 50%; /* Torna-o circular para radio buttons */
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
    background-color: #2563eb; /* Cor de fundo quando selecionado (blue-600 do Tailwind) */
    border-color: #2563eb; /* Cor da borda quando selecionado */
}

input[type="checkbox"]:checked::after {
    content: '✔'; /* Símbolo de checkmark */
    display: block;
    color: white;
    font-size: 0.75rem;
    text-align: center;
    line-height: 1rem;
}

/* Estilos para o modal de confirmação */
#deleteConfirmationModal {
    z-index: 1000; /* Garante que o modal fique acima de outros elementos */
}

/* Estilos para a tabela */
.min-w-full th, .min-w-full td {
    white-space: nowrap; /* Evita que o conteúdo da célula quebre de linha */
}

/* Estilo para fixar a coluna de ações */
.min-w-full th:last-child,
.min-w-full td:last-child {
    position: sticky;
    right: 0;
    background-color: #fff; /* Adiciona um fundo para evitar transparência */
    z-index: 10; /* Garante que a coluna fique acima do resto do conteúdo */
}

/* Ajusta o espaçamento interno para as células fixas */
.min-w-full th:last-child {
    text-align: center;
}

.min-w-full td:last-child {
    width: 1%;
    text-align: center;
}

